html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.burger-nav {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 0;
  color: transparent;
  background-color: transparent;
  width: 46px;
  height: 46px;
  cursor: pointer;
  z-index: 999999;
  outline: none;
}
.burger-nav:before {
  background-color: #fff;
}
.burger-nav:hover:before, .burger-nav.is_open:before {
  background-color: #898989;
}
.burger-nav:hover .hamburglar .bar:before, .burger-nav.is_open .hamburglar .bar:before {
  background-color: white;
}
.burger-nav .hamburglar {
  position: relative;
  width: 19px;
  margin-left: 14px;
  margin-top: 17px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  transition: opacity .1s .3s ease-in;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.burger-nav .hamburglar .bar {
  position: absolute;
  display: block;
  height: 2px;
  width: 19px;
}
.burger-nav .hamburglar .bar.top {
  top: 0;
  left: 0;
}
.burger-nav .hamburglar .bar.middle {
  top: 5px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.burger-nav .hamburglar .bar.bottom {
  top: 10px;
  left: 0;
}
.burger-nav .hamburglar .bar:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #898989;
  transition: color 0.2s ease-in-out;
}
.burger-nav .hamburglar .bar.top, .burger-nav .hamburglar .bar.bottom {
  -webkit-transform-origin: 34px 2px;
      -ms-transform-origin: 34px 2px;
          transform-origin: 34px 2px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  transition: -webkit-transform 0.4s cubic-bezier(0.8, -1.1, 0.5, 1.9);
  transition: transform 0.4s cubic-bezier(0.8, -1.1, 0.5, 1.9);
}
.burger-nav .hamburglar .bar.middle {
  -webkit-transform-origin: 108px 2px;
      -ms-transform-origin: 108px 2px;
          transform-origin: 108px 2px;
  transition: width 0.25s ease-in-out 0.125s;
}
.burger-nav.is_open .hamburglar .bar.top {
  -webkit-transform: translateX(-6px) translateY(-12px) rotate(-45deg);
      -ms-transform: translateX(-6px) translateY(-12px) rotate(-45deg);
          transform: translateX(-6px) translateY(-12px) rotate(-45deg);
}
.burger-nav.is_open .hamburglar .bar.middle {
  width: 0;
}
.burger-nav.is_open .hamburglar .bar.bottom {
  -webkit-transform: translateX(-7.5px) translateY(12.5px) rotate(45deg);
      -ms-transform: translateX(-7.5px) translateY(12.5px) rotate(45deg);
          transform: translateX(-7.5px) translateY(12.5px) rotate(45deg);
}

.circular-anim:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  box-sizing: border-box;
  transition: -webkit-transform 0.2s cubic-bezier(0.61, 1.8, 0.89, 1.62), background-color 0.12s ease-out;
  transition: transform 0.2s cubic-bezier(0.61, 1.8, 0.89, 1.62), background-color 0.12s ease-out;
}
.circular-anim:hover:before {
  -webkit-transform: scale(1.13);
      -ms-transform: scale(1.13);
          transform: scale(1.13);
}

.collapsed-button {
  position: relative;
  margin-bottom: -22.5px;
  height: 45px;
  text-align: center;
  cursor: pointer;
}
.collapsed-button.back-to-top.fixed {
  position: fixed;
  right: 87px;
  bottom: 87px;
}
.collapsed-button.slide-nav {
  display: inline-block;
}
.collapsed-button .circle {
  display: inline-block;
  vertical-align: top;
  width: 46px;
  height: 46px;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  transition: background .2s ease-out;
  background-color: transparent;
}
.collapsed-button .circle .icon {
  top: 14px;
  margin-left: 1px;
  position: absolute;
  width: 16px;
  height: 24px;
  left: 8px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  transition: top .3s ease-in-out, opacity .1s .3s ease-in;
  z-index: 9;
}
.collapsed-button .circle .icon.right {
  top: 9px;
  left: 16px;
}
.collapsed-button .circle .icon.left {
  top: 9px;
  left: 12px;
}
.collapsed-button .circle .icon svg #path-1 {
  fill: #fff;
}
.collapsed-button .circle .icon svg #line-1 {
  stroke: black;
}
.collapsed-button .circle:before {
  content: "";
  background-color: transparent;
}
.collapsed-button .circle .bg {
  width: 46px;
  height: 46px;
  background-color: transparent;
  position: absolute;
  display: block;
  z-index: 0;
  top: 0px;
}
.collapsed-button .circle .bg:before {
  background-color: white;
}
.collapsed-button .circle:hover .icon svg #path-1 {
  fill: black;
}
.collapsed-button .circle:hover .icon svg #line-1 {
  stroke: white;
}
.collapsed-button .circle:hover .bg:before {
  background-color: #898989;
  -webkit-transform: scale(1.13);
      -ms-transform: scale(1.13);
          transform: scale(1.13);
}

.back-to-top {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: none;
}
.back-to-top.active {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  visibility: visible;
}

/*********************
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  position: relative;
  font-family: UniversLTPro-45Light, "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #555;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: #555;
}
a.square-btn {
  border: 1px solid;
  padding: 8px;
  display: inline-block;
  width: 200px;
  text-align: center;
  transition: all 0.2s;
  line-height: 150%;
}
a.square-btn:hover {
  background-color: #555;
  color: white;
}

p {
  line-height: 150%;
}

.site-branding {
  position: fixed;
  top: 0;
  margin: auto;
  width: 100%;
  z-index: 999999;
  background-color: white;
}
.site-branding h1 {
  float: left;
  padding: 1em 1em 0;
  width: 200px;
  position: relative;
  left: 50px;
  top: 7px;
}
.site-branding h1 img {
  width: 100%;
  height: auto;
}
.site-branding ul {
  float: right;
  padding: 12px 1em 8px;
}
.site-branding ul li {
  float: left;
  font-size: 24px;
  margin: 3px 5px;
  color: #828282;
  position: relative;
}
.site-branding ul li a {
  color: #828282;
  position: relative;
  z-index: 9;
}
.site-branding ul li.clockBtn img {
  width: 21px;
  height: 21px;
  margin-top: 2px;
  display: inline-block;
}
.site-branding ul li.our-shop {
  color: #555;
  font-size: 0.8em;
  margin-top: 10px;
  cursor: pointer;
}
.site-branding ul li.our-shop.active {
  text-decoration: underline;
}
.site-branding ul li.signup {
  cursor: pointer;
}
.site-branding ul li.signup span {
  color: #555;
  display: inline-block;
  font-size: 0.6em;
  margin-top: -4px;
  vertical-align: middle;
  margin-left: 6px;
}
.site-branding ul li.shop-3d {
  color: #555;
  font-size: 0.6em;
  margin-top: 7px;
  cursor: pointer;
}

.column-title {
  position: fixed;
  top: 40px;
  margin: auto;
  width: 100%;
  z-index: 999995;
  background-color: white;
  padding-left: 45px;
  display: none;
}
.column-title ul {
  padding: 15px 1em;
  float: left;
}
.column-title ul li {
  float: left;
  color: #555;
  font-size: 0.8em;
  margin: 0 5px;
  cursor: pointer;
}
.column-title ul li.active {
  text-decoration: underline;
}

#site-navigation {
  position: fixed;
  left: 0;
  height: 100%;
  background-color: white;
  z-index: 999998;
  overflow: hidden;
  width: 0px;
  transition: width 0.6s ease;
}
#site-navigation.is_open {
  width: 250px;
}
#site-navigation > div {
  position: absolute;
  height: 100%;
  width: 250px;
  background-color: white;
}
#site-navigation > div ul.menu {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  margin-right: 3em;
  text-align: left;
}
@media screen and (max-height: 670px) {
  #site-navigation > div ul.menu {
    margin-top: 2em;
  }
}
#site-navigation > div ul.menu li {
  margin: 3em 1.5em;
}
@media screen and (max-height: 670px) {
  #site-navigation > div ul.menu li {
    margin: 2.5em 1em;
  }
}
@media screen and (max-height: 480px) {
  #site-navigation > div ul.menu li {
    margin: 2em 1em;
  }
}
@media screen and (max-height: 320px) {
  #site-navigation > div ul.menu li {
    margin: 1.5em 1em;
  }
}

body.home header {
  display: none;
}
body.home #slick {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
body.home .shop-info-toggle {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  display: none !important;
}
body.single-product section.column .page-header, body.single-monozukuri section.column .page-header, body.single-project section.column .page-header {
  max-width: none;
  width: 100%;
}
body.single-product section.column .page-header .summary, body.single-monozukuri section.column .page-header .summary, body.single-project section.column .page-header .summary {
  max-width: 540px;
}
body.single-product section.column .page-header h1, body.single-monozukuri section.column .page-header h1, body.single-project section.column .page-header h1 {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 1em;
}
body.single-product section.column .page-header p, body.single-monozukuri section.column .page-header p, body.single-project section.column .page-header p {
  margin-bottom: 2em;
}
body.single-product section.column .page-body, body.single-monozukuri section.column .page-body, body.single-project section.column .page-body {
  padding-left: 0px;
  width: 100%;
  max-width: none;
}
body.single-product section.column .page-body .image-list img, body.single-monozukuri section.column .page-body .image-list img, body.single-project section.column .page-body .image-list img {
  margin-bottom: 7px;
  width: 100%;
}
body.single-product ul.product_list_widget, body.single-monozukuri ul.product_list_widget, body.single-project ul.product_list_widget {
  width: 100%;
  float: left;
  margin-top: 20em;
}
body.single-product ul.product_list_widget li, body.single-monozukuri ul.product_list_widget li, body.single-project ul.product_list_widget li {
  display: inline-block;
  position: relative;
  width: 33%;
  padding: 7px;
  float: left;
}
body.single-product ul.product_list_widget li img, body.single-monozukuri ul.product_list_widget li img, body.single-project ul.product_list_widget li img {
  width: 100%;
}
body.single-product ul.product_list_widget li .inner, body.single-monozukuri ul.product_list_widget li .inner, body.single-project ul.product_list_widget li .inner {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
body.single-product ul.product_list_widget li .inner .overlay, body.single-monozukuri ul.product_list_widget li .inner .overlay, body.single-project ul.product_list_widget li .inner .overlay {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: left;
  transition: opacity 0.2s;
}
body.single-product ul.product_list_widget li .inner .overlay h4, body.single-monozukuri ul.product_list_widget li .inner .overlay h4, body.single-project ul.product_list_widget li .inner .overlay h4 {
  margin: 1em;
  font-size: 1em;
}
body.single-product ul.product_list_widget li .inner:hover .overlay, body.single-monozukuri ul.product_list_widget li .inner:hover .overlay, body.single-project ul.product_list_widget li .inner:hover .overlay {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.shop-info-toggle {
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translate(20%, -50%) rotate(90deg);
      -ms-transform: translate(20%, -50%) rotate(90deg);
          transform: translate(20%, -50%) rotate(90deg);
  cursor: pointer;
}

.shop-info {
  position: absolute;
  width: 100%;
  margin: auto;
  right: 0;
  top: 50%;
  left: 50%;
  background-color: white;
  text-align: left;
  max-height: 0px;
  transition: max-height 1s;
  overflow-x: hidden;
  overflow-y: scroll;
}
.shop-info.is_open {
  max-height: 90vh;
}
.shop-info .inner {
  position: relative;
  float: left;
  width: 100%;
  padding: 2em 1em;
}
.shop-info .inner .close {
  position: absolute;
  top: 2em;
  right: 1em;
  cursor: pointer;
}
.shop-info .inner h3 {
  font-size: 2em;
  margin: 1em 0;
}
.shop-info .inner p {
  margin: 0 0 1em;
}

.shop-info-content p {
  margin: 0 0 1em;
}

.shop3dview {
  position: relative;
  height: 0;
  padding-bottom: 60%;
}
.shop3dview iframe {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

section#intro {
  display: none;
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99999999999;
  color: black;
  font-size: 5vw;
}
section#intro #clock {
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 150%;
}
section#title-flash {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
section#title-flash.active {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
section#title-flash div {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 10vh;
  width: 100%;
}
section#title-flash div img {
  max-width: 270px;
  width: 80%;
  height: auto;
}
section#title-text-flash {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: url(../images/opening-bg.jpg) center center;
  background-size: cover;
  cursor: pointer;
  letter-spacing: 2px;
  color: black;
}
section#title-text-flash.active {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
section#title-text-flash > div {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 5vw;
  width: 100%;
}
section#title-text-flash > div .header {
  font-size: 0.9em;
  margin-bottom: 0.1em;
}
section#title-text-flash > div .date {
  text-transform: uppercase;
  font-size: 0.7em;
}
section#slick {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}
section.column {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
}
section.column ul {
  width: 100%;
  margin: auto;
  margin-top: 80px;
  position: relative;
  display: block;
}
section.column ul li {
  margin: 1em 1em 3em;
}
section.column ul li h3 {
  margin: 1em;
}
section.column ul li.footer {
  margin-bottom: 0;
}
section.column ul li.contact-form {
  text-align: left;
}
section.column ul li.contact-form .inner {
  padding: 0;
}
section.column ul li.contact-form h2 {
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: bold;
  margin: 3em 0;
}
section.column ul li ul.series {
  width: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 0em;
  margin-top: 16px;
  margin-top: 1rem;
  margin-left: -8px;
  margin-left: -0.5rem;
  margin-right: -8px;
  margin-right: -0.5rem;
}
section.column ul li ul.series li {
  width: calc(100%/3);
  padding-top: 8px;
  padding-top: 0.5rem;
  padding-bottom: 8px;
  padding-bottom: 0.5rem;
  position: relative;
  display: inline-block;
  padding-left: 8px;
  padding-left: 0.5rem;
  padding-right: 8px;
  padding-right: 0.5rem;
  vertical-align: top;
  margin: 0;
}
section.column ul li ul.series li img {
  width: 100%;
  height: auto;
}
section.column ul li ul.series li h3 {
  font-size: 0.6em;
}
section.column ul li.product .image-wrapper {
  padding-bottom: 65%;
}
section.column ul li.product .image-wrapper img {
  position: absolute;
  left: 0;
}
section.column ul li.product .image-wrapper .series-title {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9;
  font-size: 2em;
}
section.column ul .shop3dview {
  position: relative;
  height: 0;
  padding-bottom: 60%;
}
section.column ul .shop3dview iframe {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
section.column ul img {
  width: 100%;
  height: auto;
  display: inline-block;
}
section.column .image-wrapper {
  position: relative;
}
section.column .image-wrapper img {
  width: 100%;
  height: auto;
  display: inline-block;
}
section.column .image-wrapper .overlay-text {
  color: white;
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 2px;
}
section.column .image-wrapper .overlay-text .storename img {
  width: 80%;
  max-width: 500px;
}
section.column .image-wrapper .overlay-text .header {
  font-size: 1em;
  margin-bottom: 0.1em;
}
section.column .image-wrapper .overlay-text .date {
  text-transform: uppercase;
  font-size: 0.8em;
}
section.column .image-wrapper .overlay-text h2 {
  font-size: 2em;
}
section.column footer {
  padding: 50px 1em 1em;
  background-color: #EFEFEF;
  font-size: 0.7em;
}
section.column footer ul.menu {
  margin: 0 auto 3em;
  text-align: center;
}
section.column footer ul.menu li {
  margin: 1em;
  display: inline-block;
}
section.column .page-content {
  width: 100%;
  margin: auto;
  margin-top: 5em;
}
section.column .page-content .inner {
  position: relative;
  margin: 1em;
  padding: 2em 0;
}
section.column .page-header {
  float: left;
  width: 40%;
  min-width: 200px;
  max-width: 400px;
  text-align: left;
}
section.column .page-header h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: 2em;
}
section.column .page-body {
  text-align: left;
  float: left;
  width: 100%;
}
section.column .page-body.w700 {
  max-width: 700px;
}
section.column .page-body p {
  margin-bottom: 2em;
}

#splite_popupBoxClose {
  background: url(images/close.svg) no-repeat center center;
  width: 51px;
  height: 51px;
  text-indent: -200px;
  overflow: hidden;
  margin: 1em;
}
#splite_popupBoxClose:hover {
  background: url(images/close.svg) no-repeat center center;
}

#boxzilla-overlay {
  z-index: 999999 !important;
}

div.signup-form {
  max-width: 300px;
}
div.signup-form img {
  width: 100%;
  height: auto;
}
div.signup-form input {
  margin: 1em 0 0;
  float: left;
}
div.signup-form input.firstname, div.signup-form input.lastname {
  width: 49%;
  margin-right: 2%;
}
div.signup-form input.lastname {
  margin-right: 0;
}

div.wpcf7 {
  max-width: 500px;
  width: 100%;
}
div.wpcf7 input, div.wpcf7 textarea {
  background-color: #F7F8F8;
  border: none;
  font-size: 1.2em;
  padding: 0.5em;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
}
div.wpcf7 p {
  margin: 1em 0;
}

.slick-prev, .slick-next {
  width: 50px;
  height: 50px;
  top: 90px;
}
.slick-prev:before, .slick-next:before {
  display: none;
}

.slick-prev {
  left: 5%;
}

.slick-next {
  right: 5%;
}

.slick-disabled {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
}

.clear {
  clear: both;
}

.mobile-hide {
  display: none;
}

.align-left {
  text-align: left;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
  z-index: 99999999;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
  border: 1px solid #e6e6e6;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 3px;
  padding: .461em;
  font-size: 1em;
}

.woocommerce form .form-row label {
  font-size: 0.8em;
}

.woocommerce form .col-1 .form-row {
  padding: 3px !important;
  margin: 0 0 7px !important;
}

.cart-contents:before {
  font-family: WooCommerce;
  content: "\e01d";
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  padding-right: 5px;
  vertical-align: bottom;
}

.cart-contents:hover {
  text-decoration: none;
}

.cart-contents-count {
  color: #fff;
  background-color: #828282;
  border-radius: 15px;
  padding: 3px 4px 2px;
  vertical-align: top;
  font-size: 10px;
  position: absolute;
  top: -4px;
  left: 15px;
}

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
  float: none;
  width: auto;
}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
  float: none;
  width: auto;
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
  width: 100%;
  display: inline-block;
}

#add_payment_method #payment ul.payment_methods li img, .woocommerce-cart #payment ul.payment_methods li img, .woocommerce-checkout #payment ul.payment_methods li img {
  width: 50px;
}

.woocommerce div.product div.images img {
  margin-bottom: 1em;
}

.woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce div.product .stock {
  color: black;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  border-radius: 0;
  background-color: #555;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
  background-color: #484848;
}

.woocommerce-message {
  border-top-color: #555;
}

.woocommerce a.remove {
  color: #555 !important;
}

.woocommerce a.remove:hover {
  background-color: #555 !important;
}

.woocommerce-message:before {
  color: #555;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
  width: 100% !important;
  margin: 0 0 2em !important;
}

.woocommerce #order_review table.shop_table .shipping td small, .woocommerce #order_review table.shop_table .order-total td small {
  display: block;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
  background: none;
  border: 1px solid #ebe9eb;
}

.woocommerce .quantity .qty {
  height: 36px;
  font-size: 1em;
}

.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select {
  border-color: #e6e6e6;
}

#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods {
  width: 100%;
}

#my-popup {
  height: 100%;
}
#my-popup > div {
  height: 100%;
}
#my-popup > section {
  background-color: white;
}

.mfp-bg {
  z-index: 1042000 !important;
}

.mfp-wrap {
  z-index: 1043000 !important;
}

.mfp-container {
  padding: 0 !important;
}

.mfp-inline-holder .mfp-content {
  width: 100% !important;
  height: 100% !important;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  transition: all 0.25s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  transition: all 0.5s ease-out;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
@media only screen and (min-width: 481px) {
  section#intro .intro-text {
    position: absolute;
    z-index: 99999;
    background-color: white;
    width: 30%;
    right: 0;
    bottom: 40px;
    padding: 20px 60px 20px 20px;
  }
  section#intro .intro-text p {
    margin-bottom: 10px;
  }
  section#intro .intro-text .close {
    cursor: pointer;
  }
}
/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 768px) {
  body.home header {
    display: none;
  }
  body.home #slick {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  body.home .shop-info-toggle {
    display: block !important;
  }
  body.single-product section.column .page-header, body.single-monozukuri section.column .page-header, body.single-project section.column .page-header {
    max-width: none;
    width: 40%;
  }
  body.single-product section.column .page-header h1, body.single-monozukuri section.column .page-header h1, body.single-project section.column .page-header h1 {
    margin-top: 3em;
  }
  body.single-product section.column .page-body, body.single-monozukuri section.column .page-body, body.single-project section.column .page-body {
    padding-left: 30px;
    width: 60%;
  }

  .site-branding {
    width: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .site-branding h1 {
    position: relative;
    left: 0px;
    top: 0px;
  }
  .site-branding ul {
    display: inline-block;
  }
  .site-branding ul li {
    margin: 0 10px;
  }

  .column-title {
    width: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    padding-left: 0;
    display: block;
  }
  .column-title ul li {
    margin: 0 10px;
  }

  #site-navigation.is_open {
    width: 350px;
  }
  #site-navigation > div {
    width: 350px;
  }

  .burger-nav {
    left: 50px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .shop-info {
    width: calc(80% - 30px);
  }

  section#intro {
    font-size: 3vw;
  }
  section#title-text-flash > div {
    font-size: 3vw;
  }
  section.column ul {
    width: 80%;
  }
  section.column ul li {
    margin: 1em 1em 5em;
  }
  section.column ul li.contact-form .inner {
    padding: 0 2em;
  }
  section.column ul li ul.series li {
    width: calc(100%/4);
  }
  section.column ul .image-wrapper .overlay-text {
    width: 100%;
    font-size: 2em;
  }
  section.column .page-content {
    width: 80%;
  }

  .mobile-hide {
    display: block;
  }

  .mobile-only {
    display: none;
  }
}
/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 1030px) {
  body.single-projects .post-nav a {
    line-height: 40px;
    max-width: none;
  }

  header #sidebar ul#tweets {
    height: auto;
    max-height: calc(80vh - 300px);
  }

  .shop-info .inner .left {
    float: left;
    width: calc(100% - 450px);
  }
  .shop-info .inner .right {
    width: 400px;
    float: right;
  }

  section.column ul li ul.series li {
    width: calc(100%/6);
  }
}
/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
@media only screen and (min-width: 1240px) {
  body.single-product section.column .page-header p, body.single-monozukuri section.column .page-header p, body.single-project section.column .page-header p {
    margin-bottom: 2em;
  }
  body.single-product section.column .page-body, body.single-monozukuri section.column .page-body, body.single-project section.column .page-body {
    padding-left: 60px;
  }
  body.single-product ul.product_list_widget li, body.single-monozukuri ul.product_list_widget li, body.single-project ul.product_list_widget li {
    width: 25%;
  }
  body.single-product ul.product_list_widget li .inner .overlay h4, body.single-monozukuri ul.product_list_widget li .inner .overlay h4, body.single-project ul.product_list_widget li .inner .overlay h4 {
    font-size: 1.4em;
  }

  section.column ul li ul.series li {
    width: calc(100%/8);
  }
}
/*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/
