$bg-color: #fff;
$bg-color-grey: #EDEDED;
$font-color: #221815;
$grey: #DDDDDD;
$dark-grey: #898989;
$base-font-size: 23px;
$font-size-l: 24px;
$font-size-s: 0.8em;
// $font-family: 'Open Sans', sans-serif;
$font-weight: 300;
// $font-family: 'Hind', sans-serif;
// $font-family: 'Maven Pro', sans-serif;
// $font-family: UniversLTPro-55Roman,'Roboto', sans-serif;
$font-family: UniversLTPro-45Light,'Roboto', sans-serif;
// $font-family: 'Oswald', sans-serif;
// $font-family: 'Khula', sans-serif;
// $font-family: 'Mandali', sans-serif;
// $font-family: 'Univers Pro 55 Roman', sans-serif;
$header-font-family: UniversLTPro-55Roman,'Gafata', sans-serif;


// $header-font-family: 'Nova Round', cursive;
// $header-font-family: 'Karla', sans-serif;
// $header-font-family: 'Exo 2', sans-serif;
// $header-font-family: 'Ruda', sans-serif;
// $header-font-family: 'Merriweather Sans', sans-serif;
$header-font-weight: normal;

$header-height: 60px;


$font-color: #555;