body {
	&.single-projects {
		.post-nav {
			a {
				line-height: 40px;
				max-width: none;
			}
			.next-post-nav {
				a {

				}
			}
			.prev-post-nav {
				a {

				}
			}
		}
	}
}
header {
	#sidebar {
		ul#tweets {
			height: auto;
			max-height: calc(80vh - 300px);
		}
	}
}
.shop-info {
	.inner {
		.left {
			float: left;
			width: calc(100% - 450px);
			
		}
		.right {
			width: 400px;
			float: right;
		}
	}


}	
section {
	&.column {
		ul {
			li {
				ul.series {
					li {
						width: calc(100%/6);
					}
				}
			}
		}
	}
}