
body {
	&.single-product, &.single-monozukuri, &.single-project {
		section.column {
			.page-header {

				p {
					margin-bottom: 2em;
				}
			}
			.page-body {
				padding-left: 60px;
				img {
					// margin-bottom: 5em;
				}
			}	
		}
		ul.product_list_widget {
			li {
				width: 25%;
				.inner {
					.overlay {
						h4 {
							font-size: 1.4em;
						}

					}
				}
			}
		}
		
	}

}
