



* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
	position: relative;
	font-family: $font-family;
	font-weight: $font-weight;
	text-align: center;
	color: $font-color;
	letter-spacing: 1px;
}
a {
	text-decoration: none;
	color: $font-color;
	&.square-btn {
		border: 1px solid;
		padding: 8px;
		display: inline-block;
		width: 200px;
		text-align: center;
		// margin-bottom: 1em;
		transition: all 0.2s;
		line-height: 150%;
		&:hover {
			background-color: $font-color;
			color: white;
		}
	}
}
p {
	line-height: 150%;
}

.site-branding {
	position: fixed;
	top: 0;
	margin: auto;
	width: 100%;
	z-index: 999999;
	background-color: white;
	h1 {
		float: left;
		padding: 1em 1em 0;
		width: 200px;
	    position: relative;
	    left: 50px;
	    top: 7px;
		img {
			width: 100%;
			height: auto;
		}
	}
	ul {
		float: right;
		padding: 12px 1em 8px;
		// display: none;
		li {
			float: left;
			font-size: 24px;
			margin: 3px 5px;
			color: #828282;//$grey;
			position: relative;
			a {
				color: #828282;
				position: relative;
				z-index: 9;
			}
			&.fb {
				a {
					// color: #315096;
				}

			}
			// &.instagram {
			// 	&:after {
			// 		content: "";
			// 		position: absolute;
			// 		width: 21px;
			// 		height: 21px;
			// 		background-color: #828282;
			// 		border-radius: 2px;
			// 		top: 2px;
			// 		left: 0;
			// 	}
			// 	i {
			// 		font-size: 20px;
			// 	    margin-top: 3px;
			// 	    margin-left: 2px;
			// 	}
			// }
			&.clockBtn {
				img {
					width: 21px;
					height: 21px;
				    margin-top: 2px;
				    display: inline-block;
				}

			}
			&.our-shop{
				color: $font-color;
				font-size: 0.8em;
				margin-top: 10px;
				cursor: pointer;
				&.active {
					text-decoration: underline;

				}
			}
			&.signup{
				cursor: pointer;
				span {
					color: $font-color;
					display: inline-block;
				    font-size: 0.6em;
				    margin-top: -4px;
				    vertical-align: middle;
				    margin-left: 6px;
				    // cursor: pointer;
				}
			}

			&.shop-3d {
				color: $font-color;
				font-size: 0.6em;
				margin-top: 7px;
				cursor: pointer;
				// text-align: left;
			}

		}
	}

}
.column-title {
	position: fixed;
	top: 40px;
	margin: auto;
	width: 100%;
	z-index: 999995;
	background-color: white;
	padding-left: 45px;
	display: none;

	ul {
		padding: 15px 1em;
		float: left;
		li {
			// display: inline-block;
			float: left;
			color: $font-color;
			font-size: 0.8em;
			margin: 0 5px;
			cursor: pointer;
			&.active {
				text-decoration: underline;

			}
		}
	}

}
#site-navigation {
	position: fixed;
    left: 0;
    height: 100%;
    // width: 0px;
    background-color: white;
    // top: 50%;
    z-index: 999998;
    overflow: hidden;
    width: 0px;
	// width: 350px;
	transition: width 0.6s ease;
    &.is_open {
    	width: 250px;
    	.menu {
    		// visibility: visible;
    		// opacity: 1;
    	}

    }
    >div {
    	position: absolute;
		height: 100%;
		// visibility: hidden;
		width: 250px;
		// opacity: 0;
		// transition: opacity 0.5s;
		// transition-delay: 0.5s;
	    background-color: white;


		ul.menu {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			margin-right: 3em;
			text-align: left;
			li {
				margin: 3em 1.5em;
				@media screen and (max-height: 670px) {
					margin: 2.5em 1.5em;
				}
				@media screen and (max-height: 480px) {
					margin: 2em 1.5em;
				}
				@media screen and (max-height: 320px) {
					margin: 1.5em 1.5em;
				}
				a {
					// padding: 1em;
					// display: block;

				}

			}
		}
    }


}




body {
	&.home {
		// color: black;
		// cursor: pointer;
		header {
			display: none;
		}
		// .animsition {
		// 	position: relative;
		// 	height: 100%;t
		// }
		#slick {
			opacity: 0;
		}
		.shop-info-toggle {
			opacity: 0;
			display: none !important;
		}
	}
	&.single-product, &.single-monozukuri, &.single-project {
		section.column {
			.page-header {
				max-width: none;
				width: 100%;
				.summary {
					max-width: 540px;
				}
				// margin-right: 60px;
				h1 {
					font-weight: bold;
					font-size: 1.4em;
					margin-bottom: 1em;
				}
				p {
					margin-bottom: 2em;
				}
			}
			.page-body {
				padding-left: 0px;
				width: 100%;
				max-width: none;
				.image-list{
					img {
						margin-bottom: 7px;
						width: 100%;
					}
				}


			}

		}
		ul.product_list_widget {
			width: 100%;
			float: left;
			margin-top: 20em;
			li {
				display: inline-block;
				position: relative;
				width: 33%;
				padding: 7px;
				// padding-right: 15px;
				float: left;
				&:nth-child(4n) {
					// padding-right: 0;
				}
				img {
					width: 100%;
				}
				.inner {
					position: relative;
					float: left;
					margin: 0;
					padding: 0;
					width: 100%;
					.overlay {
						opacity: 0;
						position: absolute;
						width: 100%;
						height: 100%;
						background-color: rgba(0,0,0,0.5);
						color: white;
						text-align: left;
						transition: opacity 0.2s;
						h4 {
							margin: 1em;
							font-size: 1em;
						}

					}
					&:hover {
						.overlay {
							opacity: 1;
						}
					}
				}


			}
		}

	}

}

.shop-info-toggle {
	position: fixed;
	right: 0;
	top: 50%;
	transform: translate(20%,-50%) rotate(90deg);
	cursor: pointer;
}
.shop-info {
	position: absolute;
	width: 100%;
	margin: auto;
	right: 0;
	top: 50%;
	left: 50%;
	// transform: translate(-50%,-50%);
	background-color: white;
	text-align: left;
	max-height: 0px;
	transition: max-height 1s;
	overflow-x: hidden;
	overflow-y: scroll;
	&.is_open {
		max-height: 90vh;
	}
	.inner {
		position: relative;
		float: left;
		width: 100%;
		// margin: 1em;
		padding: 2em 1em;
		.close {
			position: absolute;
			top: 2em;
			right: 1em;
			cursor: pointer;
		}
		h3 {
			font-size: 2em;
			margin: 1em 0;
		}
		p {
			margin: 0 0 1em;
		}
		.left {
			// float: left;
			// width: calc(100% - 450px);

		}
		.right {
			// width: 400px;
			// float: right;
		}
	}
}
.shop-info-content {
	p {
		margin: 0 0 1em;
	}
}
.shop3dview {
	// display: none;
	position: relative;
	height: 0;
	padding-bottom: 60%;
	iframe {
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
	}
}
section {
	&#intro {
		display: none;
		cursor: pointer;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 99999999999;
		color: black;
		font-size: 5vw;
		#clock {
			position: absolute;
			text-transform: uppercase;
			text-align: center;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
			// font-size: 8vh;
			line-height: 150%;
		}

	}
	&#title-flash {
		position: fixed;
		top: 0;
		height: 100%;
		width: 100%;
		text-align: center;
		// background-color: white;
		opacity: 0;
		// transition: opacity 1s;
		&.active {
			opacity: 1;
		}
		div {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			font-size: 10vh;
			width: 100%;
			img {
				max-width: 270px;
				// max-width: 500px;
				width: 80%;
				height: auto;
			}
		}
	}
	&#title-text-flash {
		position: fixed;
		top: 0;
		height: 100%;
		width: 100%;
		text-align: center;
		// background-color: white;
		opacity: 0;
		// transition: opacity 1s;
		background: url(../images/opening-bg.jpg) center center;
		background-size: cover;
		cursor: pointer;
		letter-spacing: 2px;
		color: black;
		&.active {
			opacity: 1;
		}
		>div {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			font-size: 5vw;
			width: 100%;
			.header {
				font-size: 0.9em;
				margin-bottom: 0.1em;
				// @include animation(fadeInDown);
				// @include animation-delay(1s);
			}
			.date {
				text-transform: uppercase;
				font-size: 0.7em;
				// @include animation(fadeInDown);
				// @include animation-delay(1s);
			}
		}
	}
	&#slick {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
	}

	&.column {
		// position: absolute;
		// top: 0;

		width: 100%;
		height: 100%;
		// overflow: visible;
		overflow-x: hidden;
		overflow-y: scroll;
		// overflow: scroll;
		text-align: center;

		ul {
			// text-align: left;
			width: 100%;
			margin: auto;
			margin-top: 80px;
			position: relative;
			display: block;
			li {
				margin: 1em 1em 3em;
				h3 {
					margin: 1em;
				}
				&.footer {
					margin-bottom: 0;

				}
				&.contact-form {
					text-align: left;
					.inner {
						padding: 0;
					}
					h2 {
						text-transform: uppercase;
						font-size: 1.4em;
						font-weight: bold;
						margin: 3em 0;
					}

				}
				ul.series {
					width: auto;
					// float: left;
					// margin: 0;
					// display: grid;
					// width: 100%;
					// // max-width: 750px;
					// margin: 0 auto;
					// grid-template-columns: repeat(5, 20%);
					// grid-gap: 10px;
				    display: -webkit-box;
				    display: -webkit-flex;
				    display: -ms-flexbox;
				    display: flex;
				    -webkit-box-orient: horizontal;
				    -webkit-box-direction: normal;
				    -webkit-flex-direction: row;
				    -ms-flex-direction: row;
				    flex-direction: row;
				    -webkit-flex-wrap: wrap;
				    -ms-flex-wrap: wrap;
				    flex-wrap: wrap;
				    -webkit-box-align: stretch;
				    -webkit-align-items: stretch;
				    -ms-flex-align: stretch;
				    align-items: stretch;
				    padding: 0em;
					margin-top: 1rem;
					// margin-bottom: -1rem;
					margin-left: -0.5rem;
					margin-right: -0.5rem;

					li {
						width: calc(100%/3);
						padding-top: 0.5rem;
					    padding-bottom: 0.5rem;
						position: relative;
						display: inline-block;
						// width: 6.25%;
						padding-left: 0.5rem;
						padding-right: 0.5rem;
						vertical-align: top;

						// float: left;
						// width: 20%;
						margin: 0;
						// padding-right: 1.5%;
						// &:nth-child(5){
						// 	padding-right: 0;
						// }
						img {
							width: 100%;
							height: auto;
						}
						h3{
							font-size: 0.6em;
						}
					}
				}
				&.product {
					.image-wrapper {
						padding-bottom: 65%;
						img {
							position: absolute;
							left: 0;
						}
						.series-title {
							position: absolute;
							bottom: 0;
							left: 0;
							z-index: 9;
							font-size: 2em;
						}
					}
				}

			}
			.shop3dview {
				position: relative;
				height: 0;
				padding-bottom: 60%;
				iframe {
					width: 100%;
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
				}
			}
			// &.products {
				img {
					// width: auto;
					width: 100%;
					height: auto;
					// max-width: 100%;
					// max-height: 100%;
					display: inline-block;
				}
			// }


		}
		.image-wrapper {
			position: relative;
			// height: 90vh;
			img {
				width: 100%;
				height: auto;
				display: inline-block;
				&.bg {
					// opacity: 0.5;
				}
			}
			.overlay-text {
				color: white;
				position: absolute;
				// top: 50%;
				bottom: 5%;
				width: 100%;
				text-align: center;
				font-size: 1.2em;
				letter-spacing: 2px;
				.storename {
					img {
						width: 80%;
						max-width: 500px;
					}
					// margin-bottom: 2em;
					// @include animation(fadeInDown);
				}
				.header {
					font-size: 1em;
					margin-bottom: 0.1em;
					// @include animation(fadeInDown);
					// @include animation-delay(1s);
				}
				.date {
					text-transform: uppercase;
					font-size: 0.8em;
					// @include animation(fadeInDown);
					// @include animation-delay(1s);
				}
				h2 {
					font-size: 2em;
				}
			}

		}
		footer {
			padding: 50px 1em 1em;
			// padding: 100px 1em 1em;
			background-color: #EFEFEF;
			font-size: 0.7em;
			ul.menu {
				margin: 0 auto 3em;
				text-align: center;
				li {
					margin: 1em;
					display: inline-block;
				}
			}
		}

		.page-content {
			width: 100%;
			margin: auto;
			margin-top: 5em;
			.inner {
				position: relative;
				margin: 1em;
				padding: 2em 0;
			}

		}
		.page-header {
			float: left;
			width: 40%;
			min-width: 200px;
			max-width: 400px;
			text-align: left;
			h2 {
				font-size: 1.2em;
				text-transform: uppercase;
				margin-bottom: 2em;
			}
		}
		.page-body {
			text-align: left;
			float: left;
			width: 100%;
			&.w700 {
				max-width: 700px;
			}
			p {
				margin-bottom: 2em;
			}
		}

	}

}
#splite_popupBoxClose {
	background: url(images/close.svg) no-repeat center center;
	width: 51px;
	height: 51px;
	text-indent: -200px;
	overflow: hidden;
	margin: 1em;
	&:hover {
		background: url(images/close.svg) no-repeat center center;
	}
}
#boxzilla-overlay {
	z-index: 999999 !important;
}
div.signup-form {
	max-width: 300px;
	img {
		width: 100%;
		height: auto;
	}
	input {
		margin: 1em 0 0;
		float: left;
		&.firstname, &.lastname {
			width: 49%;
			margin-right: 2%;
		}
		&.lastname {
			margin-right: 0;
		}
	}

}
div.wpcf7 {
	max-width: 500px;
	width: 100%;
	input, textarea {
		background-color: #F7F8F8;
		border: none;
	    font-size: 1.2em;
	    padding: 0.5em;
	    margin: 10px 0;
	    width: 100%;
	    box-sizing: border-box;
	}
	p {
		margin: 1em 0;
	}
}
.slick-prev, .slick-next {
	width: 50px;
	height: 50px;
	top: 90px;
	&:before {
		display: none;
	}
}
.slick-prev {
	left: 5%;
}
.slick-next {
	right: 5%;
}
.slick-disabled {
	opacity: 0;
	visibility: hidden;
}
.clear {
	clear: both;
}
.mobile-hide {
	display: none;
}
.align-left {
	text-align: left;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
	// position: absolute;
	z-index: 99999999;
	// width: 100%;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
	border: 1px solid #e6e6e6;
    appearance: none;
    border-radius: 3px;
    padding: .461em;
    font-size: 1em;
}

.woocommerce form .form-row label {
    font-size: 0.8em;
}
.woocommerce form .col-1 .form-row {
    padding: 3px !important;
    margin: 0 0 7px !important;
}

.cart-contents:before {
    font-family:WooCommerce;
    content: "\e01d";
    margin-top:10px;
    font-style:normal;
    font-weight:400;
    padding-right:5px;
    vertical-align: bottom;
}
.cart-contents:hover {
    text-decoration: none;
}
.cart-contents-count {
    color: #fff;
    background-color: #828282;
    border-radius: 15px;
    padding: 3px 4px 2px;
    vertical-align: top;
    font-size: 10px;
    position: absolute;
    top: -4px;
    left: 15px;
}

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    float: none;
    width: auto;
}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    float: none;
    width: auto;
}

.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
    width: 100%;
    display: inline-block;
}

#add_payment_method #payment ul.payment_methods li img, .woocommerce-cart #payment ul.payment_methods li img, .woocommerce-checkout #payment ul.payment_methods li img {
	width: 50px;
}

.woocommerce div.product div.images img {
	margin-bottom: 1em;
}
.woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce div.product .stock {
	color: black;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	border-radius: 0;
	background-color: $font-color;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
	background-color: darken($font-color, 5%);
}
.woocommerce-message {
	border-top-color: $font-color;
}
.woocommerce a.remove {
	color: $font-color !important;
}
.woocommerce a.remove:hover {
	background-color: $font-color !important;
}
.woocommerce-message::before {
	color: $font-color;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message {
	width: 100% !important;
	margin: 0 0 2em !important;
}
.woocommerce #order_review table.shop_table .shipping td small, .woocommerce #order_review table.shop_table .order-total td small {
	display: block;
}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
	background: none;
	border: 1px solid #ebe9eb;
}
.woocommerce .quantity .qty {
    height: 36px;
    font-size: 1em;
}
.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select {
	border-color: rgb(230, 230, 230);
}
#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods {
	width: 100%;
}
.mfp-bg {
	z-index: 1042000 !important;
}
.mfp-wrap {
	z-index: 1043000 !important;
}
